.star-page-3 {
  height: 1097px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-child,
.frame-item {
  height: 48px;
  width: 164px;
  position: absolute;
  margin: 0 !important;
  bottom: 100px;
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  z-index: 1;
}
.frame-child {
  left: 785px;
}
.frame-item {
  right: 788px;
}
.ad-17df-4edc-af77-fd1d31ba13e2-icon {
  height: 700.7px;
  width: 700.7px;
  position: absolute;
  margin: 0 !important;
  right: -238.7px;
  bottom: 111.3px;
  object-fit: contain;
  z-index: 3;
}
.star-page-3-parent {
  width: 1919px;
  margin: 0 !important;
  position: absolute;
  top: 2126px;
  left: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.bombx-logo-icon {
  height: 75px;
  width: 81.8px;
  position: relative;
  object-fit: cover;
}
.buy-button-background,
.frame-inner {
  height: 48px;
  border-radius: var(--br-5xs);
}
.frame-inner {
  width: 164px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  z-index: 0;
}
.buy-button-background {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(#fff, #fff), #111;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.buy-token {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 20.8px;
  font-family: var(--font-american-captain);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-31xl) var(--padding-mini);
  background-color: var(--color-black);
  align-self: stretch;
  border-radius: var(--br-5xs);
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.header,
.header-inner,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
}
.header-inner {
  width: 164px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12.5px 0 0;
  box-sizing: border-box;
}
.header {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 4;
}
.image-removebg-1-icon {
  height: 899px;
  width: 980px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.rectangle-div {
  height: 48px;
  width: 164px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  display: none;
  z-index: 0;
}
.dextools-button-background {
  height: 48px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background: linear-gradient(#fff, #fff), #111;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.dextools {
  height: 14px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-american-captain);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.frame-child1,
.rectangle-group {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-34xl) var(--padding-lgi);
  width: 164px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 4;
}
.frame-child1 {
  align-self: stretch;
  width: 364px;
  display: none;
  max-width: 100%;
}
.ydwwscmkwgbum4otvqzyu {
  width: 247px;
  height: 14px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-height: 14px;
  word-break: break-word;
}
.ydwwscmkwgbum4otvqzyu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.copy {
  height: 14px;
  width: 30px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-american-captain);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
}
.copy-wrapper,
.frame-group {
  align-items: flex-start;
  justify-content: flex-start;
}
.copy-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-5xs) var(--padding-lgi);
  background-color: #ffaa6e;
  width: 70px;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  z-index: 5;
}
.copy-wrapper:hover {
  background-color: #cc783b;
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
}
.frame-group {
  border-radius: var(--br-5xs);
  background: linear-gradient(#fff, #fff), #111;
  border: 2px solid var(--color-black);
  padding: var(--padding-9xs) var(--padding-5xs) var(--padding-9xs)
    var(--padding-lg);
  gap: var(--gap-mid);
  z-index: 1;
}
.frame-group,
.image-removebg-1-parent,
.rectangle-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-container {
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 2px;
  z-index: 4;
}
.image-removebg-1-parent {
  width: 980px;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-xl);
  gap: var(--gap-base);
  background-image: url(./public/imageremovebg-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 899px;
  z-index: 3;
}
.frame-container,
.header-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  margin-top: -64px;
}
.header-parent {
  width: 1632px;
  flex-direction: column;
  justify-content: flex-start;
}
.bombx-child,
.frame-wrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  flex-shrink: 0;
}
.bombx-child {
  height: 79px;
  width: 1924px;
  position: relative;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  display: none;
}
.bombx10,
.bombx11,
.bombx12,
.bombx13,
.bombx14,
.bombx2,
.bombx3,
.bombx4,
.bombx5,
.bombx6,
.bombx7,
.bombx8,
.bombx9 {
  height: 24px;
  width: 84px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.bombx1,
.frame-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.bombx1 {
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-7xl) var(--padding-111xl) var(--padding-6xl)
    var(--padding-107xl);
  min-height: 79px;
  gap: var(--gap-xl);
  flex-shrink: 0;
  z-index: 4;
  font-size: var(--font-size-13xl);
}
.frame-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 59px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-american-captain);
}
.bombx-is-a,
.who-are-we {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.who-are-we {
  margin: 0;
  align-self: stretch;
  height: 135px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  text-shadow: 4px 0 0#000, 0 4px 0#000, -4px 0 0#000, 0-4px 0#000;
  z-index: 1;
}
.bombx-is-a {
  height: 153px;
  width: 528px;
  line-height: 37.6px;
  max-width: 100%;
}
.bombx-is-a-fun-meme-token-with-wrapper {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 57px var(--padding-xl);
  max-width: 100%;
  z-index: 2;
}
.frame-child2,
.telegram-dextools {
  height: 48px;
  border-radius: var(--br-5xs);
}
.frame-child2 {
  width: 164px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  z-index: 0;
}
.telegram-dextools {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(#fff, #fff), #111;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.twitter-x {
  height: 14px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-american-captain);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  z-index: 2;
}
.frame-wrapper1,
.group-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-28xl) var(--padding-lgi);
  background-color: var(--color-black);
  align-self: stretch;
  border-radius: var(--br-5xs);
  flex-direction: row;
  position: relative;
  z-index: 1;
}
.frame-wrapper1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 123px;
  max-width: 164px;
}
.frame-child3 {
  height: 48px;
  width: 164px;
  position: relative;
  border-radius: var(--br-5xs);
  background: linear-gradient(#fff, #fff), #111;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.telegram {
  height: 14px;
  width: 59px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-american-captain);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.frame-button,
.frame-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-button {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-sm) var(--padding-30xl) var(--padding-sm)
    var(--padding-33xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-5xs);
  background: linear-gradient(#fff, #fff), #111;
  flex-direction: row;
  z-index: 2;
}
.frame-button:hover,
.rectangle-parent13:hover,
.rectangle-parent14:hover,
.rectangle-parent1:hover {
  background-color: var(--color-darkslategray-100);
  border: 2px solid var(--color-darkslategray-200);
  box-sizing: border-box;
}
.frame-wrapper2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 123px;
  max-width: 164px;
}
.frame-child4 {
  height: 48px;
  width: 164px;
  position: relative;
  border-radius: var(--br-5xs);
  background: linear-gradient(#fff, #fff), #111;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.dextools1 {
  height: 14px;
  width: 57px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-american-captain);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.frame-wrapper3,
.rectangle-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent1 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-sm) var(--padding-31xl) var(--padding-sm)
    var(--padding-34xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-5xs);
  background: linear-gradient(#fff, #fff), #111;
  flex-direction: row;
  z-index: 2;
}
.frame-wrapper3 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 123px;
  max-width: 164px;
}
.frame-child5,
.frame-child6 {
  height: 48px;
  border-radius: var(--br-5xs);
}
.frame-child5 {
  width: 164px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  z-index: 0;
}
.frame-child6 {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(#fff, #fff), #111;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.raydium {
  height: 14px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-american-captain);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.frame-parent1,
.rectangle-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-37xl) var(--padding-lgi);
  background-color: var(--color-black);
  flex: 0.3171;
  border-radius: var(--br-5xs);
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  min-width: 123px;
  max-width: 164px;
  z-index: 1;
}
.frame-parent1 {
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-mid);
}
.b {
  height: 122px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.b-wrapper {
  width: 142px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 11px;
  box-sizing: border-box;
}
.total-supply {
  width: 141px;
  height: 24px;
  position: relative;
  font-size: var(--font-size-13xl);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
}
.frame-parent3 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-67xl) var(--padding-xl);
  gap: var(--gap-base);
  min-width: 259px;
  max-width: 100%;
  z-index: 2;
}
.commission-fee,
.commission-value {
  width: 184px;
  height: 122px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.commission-fee {
  height: 24px;
  font-size: var(--font-size-13xl);
}
.commission-value-parent,
.frame-parent2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.commission-value-parent {
  flex: 0.6545;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-67xl) 72px;
  gap: var(--gap-base);
  min-width: 259px;
  z-index: 2;
}
.frame-parent2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 18px;
  font-size: var(--font-size-143xl);
}
.frame-div {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.bombx-inner,
.frame-div,
.who-are-we-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.who-are-we-parent {
  width: 707px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.bombx-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-157xl);
  color: var(--color-white);
  font-family: var(--font-american-captain);
}
.star-page-2 {
  height: 1049px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-child7,
.frame-child8 {
  height: 48px;
  width: 164px;
  position: absolute;
  margin: 0 !important;
  bottom: 434px;
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  z-index: 1;
}
.frame-child7 {
  left: 1030px;
}
.frame-child8 {
  right: 1030px;
}
.star-page-2-parent {
  position: absolute;
  top: 2.9px;
  left: -243px;
  width: 2406px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ad-17df-4edc-af77-fd1d31ba13e2-icon1 {
  position: absolute;
  top: 1115.2px;
  left: -222.7px;
  width: 700.6px;
  height: 700.6px;
  object-fit: contain;
  z-index: 1;
}
.pngtreebrown-cartoon-rope-rop,
.pngtreebrown-cartoon-rope-rop1 {
  position: absolute;
  top: 19.9px;
  left: -627px;
  width: 1201px;
  height: 1225.1px;
  object-fit: contain;
  z-index: 3;
}
.pngtreebrown-cartoon-rope-rop1 {
  top: 0;
  left: 1342.2px;
  width: 1100.4px;
  height: 1060.1px;
}
.frame-section {
  width: 100%;
  height: 1815.8px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 270.1px;
  left: 0;
}
.bombx-child1,
.bombx-item {
  border-radius: var(--br-5xs);
}
.bombx-item {
  width: 707px;
  height: 273px;
  position: relative;
  background-color: #d9d9d9;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 4;
}
.bombx-child1 {
  width: 344px;
  height: 340px;
  z-index: 5;
}
.bombx-child1,
.bombx-child2,
.bombx-child3 {
  position: relative;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.bombx-child2 {
  width: 344px;
  height: 340px;
  border-radius: var(--br-5xs);
  z-index: 6;
}
.bombx-child3 {
  height: 79px;
  width: 1924px;
}
.bombx16,
.bombx17,
.bombx18,
.bombx19,
.bombx20,
.bombx21,
.bombx22,
.bombx23,
.bombx24,
.bombx25,
.bombx26,
.bombx27,
.bombx28 {
  height: 24px;
  width: 84px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.bombx15,
.how-to-buy {
  align-self: stretch;
  flex-shrink: 0;
}
.bombx15 {
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-7xl) var(--padding-111xl) var(--padding-6xl)
    var(--padding-107xl);
  min-height: 79px;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 2;
}
.how-to-buy {
  margin: 0;
  height: 136px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  text-shadow: 4px 0 0#000, 0 4px 0#000, -4px 0 0#000, 0-4px 0#000;
  z-index: 1;
}
.frame-child9 {
  width: 707px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.div1,
.frame-child10,
.frame-child9 {
  align-self: stretch;
  position: relative;
}
.frame-child10 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.div1 {
  height: 36px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.wrapper {
  width: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-27xl) 0 0;
  box-sizing: border-box;
}
.frame-child11 {
  height: 128px;
  width: 579px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.download-solana-wallet {
  align-self: stretch;
  height: 24px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.download-solana-wallet-wrapper {
  width: 278px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
}
.material-symbols-lightwallet-icon {
  height: 48px;
  width: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.rectangle-parent3,
.rectangle-parent4 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.rectangle-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-18xl) var(--padding-71xl) var(--padding-18xl)
    var(--padding-61xl);
  min-width: 326px;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--font-size-13xl);
}
.rectangle-parent3 {
  padding: 0 0 0 var(--padding-33xl);
  gap: var(--gap-38xl);
}
.div,
.group-div,
.rectangle-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.group-div {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.div {
  align-self: stretch;
}
.frame-child12 {
  width: 707px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.div3,
.frame-child12,
.frame-child13 {
  align-self: stretch;
  position: relative;
}
.frame-child13 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.div3 {
  height: 36px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.container {
  width: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-27xl) 0 0;
  box-sizing: border-box;
}
.frame-child14 {
  height: 128px;
  width: 579px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.get-some-solana {
  height: 24px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.get-some-solana-using-it-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.formkitsolana-icon {
  height: 48px;
  width: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.rectangle-parent6,
.rectangle-parent7 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.rectangle-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 39px var(--padding-71xl) 35px var(--padding-61xl);
  min-width: 312px;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--font-size-13xl);
}
.rectangle-parent6 {
  padding: 0 0 0 var(--padding-33xl);
  gap: var(--gap-38xl);
}
.div2,
.rectangle-parent5,
.rectangle-parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent5 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.div2 {
  align-self: stretch;
}
.frame-child15 {
  width: 707px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.div5,
.frame-child15,
.frame-child16 {
  align-self: stretch;
  position: relative;
}
.frame-child16 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.div5 {
  height: 36px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame {
  width: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-27xl) 0 0;
  box-sizing: border-box;
}
.frame-child17 {
  height: 128px;
  width: 579px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.buy-bombx-using {
  height: 25px;
  width: 277px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.rectangle-parent10 {
  flex: 1;
  padding: 48px var(--padding-61xl) var(--padding-30xl);
  min-width: 277px;
  z-index: 1;
  font-size: var(--font-size-13xl);
}
.rectangle-parent10,
.rectangle-parent8,
.rectangle-parent9 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent9 {
  flex: 1;
  padding: 0 0 0 var(--padding-33xl);
  gap: var(--gap-38xl);
  z-index: 1;
}
.rectangle-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image-removebg-2-icon {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% + 216.5px);
  width: 48px;
  height: 48px;
  object-fit: cover;
  z-index: 2;
}
.div4,
.parent {
  align-self: stretch;
}
.div4 {
  height: 130px;
  position: relative;
  max-width: 100%;
}
.parent {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-base);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
}
.bombx-parent,
.frame-wrapper4,
.how-to-buy-parent,
.parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.how-to-buy-parent {
  width: 708px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.bombx-parent,
.frame-wrapper4 {
  align-self: stretch;
  box-sizing: border-box;
}
.frame-wrapper4 {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-157xl);
  color: var(--color-white);
}
.bombx-parent {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-71xl);
  gap: 80px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-american-captain);
}
.star-page-1 {
  height: 1000px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.bombx29 {
  margin: 0 !important;
  height: 479px;
  width: 1445px;
  position: absolute;
  bottom: 249px;
  left: 424px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  text-shadow: 7px 0 0#000, 0 7px 0#000, -7px 0 0#000, 0-7px 0#000;
  z-index: 1;
}
.star-page-1-parent {
  position: absolute;
  top: 0;
  left: -187px;
  width: 2294px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-div {
  position: absolute;
  top: 617px;
  left: 603px;
  border-radius: 50%;
  background-color: #e02433;
  width: 185px;
  height: 296px;
  z-index: 2;
}
.frame-parent4 {
  width: 100%;
  height: 1000px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  text-align: left;
  font-size: 640px;
  color: var(--color-white);
  font-family: var(--font-american-captain);
}
.button-backgrounds,
.frame-child18 {
  height: 48px;
  border-radius: var(--br-5xs);
}
.frame-child18 {
  width: 164px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  z-index: 0;
}
.button-backgrounds {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(#fff, #fff), #111;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.bombx30 {
  height: 14px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-american-captain);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.frame-child19,
.rectangle-parent11 {
  width: 164px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
}
.rectangle-parent11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) 61px var(--padding-lgi) 62px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 1;
}
.frame-child19 {
  height: 48px;
  display: none;
  z-index: 0;
}
.footer-telegram-dextools {
  height: 48px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background: linear-gradient(#fff, #fff), #111;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.twitter-x1 {
  height: 14px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-american-captain);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  z-index: 2;
}
.frame-wrapper5,
.rectangle-parent12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent12 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-28xl) var(--padding-lgi);
  background-color: var(--color-black);
  align-self: stretch;
  border-radius: var(--br-5xs);
  flex-direction: row;
  position: relative;
  z-index: 1;
}
.frame-wrapper5 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 123px;
  max-width: 164px;
}
.frame-child20 {
  height: 48px;
  width: 164px;
  position: relative;
  border-radius: var(--br-5xs);
  background: linear-gradient(#fff, #fff), #111;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.telegram1 {
  height: 14px;
  width: 59px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-american-captain);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.rectangle-parent13,
.user-cart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent13 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-sm) var(--padding-30xl) var(--padding-sm)
    var(--padding-33xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-5xs);
  background: linear-gradient(#fff, #fff), #111;
  flex-direction: row;
  z-index: 2;
}
.user-cart {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 123px;
  max-width: 164px;
}
.frame-child21 {
  height: 48px;
  width: 164px;
  position: relative;
  border-radius: var(--br-5xs);
  background: linear-gradient(#fff, #fff), #111;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.dextools2 {
  height: 14px;
  width: 57px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-american-captain);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.rectangle-parent14,
.user-cart1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent14 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-sm) var(--padding-31xl) var(--padding-sm)
    var(--padding-34xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-5xs);
  background: linear-gradient(#fff, #fff), #111;
  flex-direction: row;
  z-index: 2;
}
.user-cart1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 123px;
  max-width: 164px;
}
.frame-child22,
.frame-child23 {
  height: 48px;
  border-radius: var(--br-5xs);
}
.frame-child22 {
  width: 164px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  z-index: 0;
}
.frame-child23 {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(#fff, #fff), #111;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.raydium1 {
  height: 14px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-american-captain);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.frame-parent6,
.rectangle-parent15 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent15 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-37xl) var(--padding-lgi);
  background-color: var(--color-black);
  flex: 0.3171;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  position: relative;
  min-width: 123px;
  max-width: 164px;
  z-index: 1;
}
.frame-parent6 {
  width: 707px;
  gap: var(--gap-mid);
  max-width: 100%;
}
.frame-child24,
.frame-child25 {
  height: 48px;
  border-radius: var(--br-5xs);
}
.frame-child24 {
  width: 164px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  z-index: 0;
}
.frame-child25 {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(#fff, #fff), #111;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.buy-token1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 20.8px;
  font-family: var(--font-american-captain);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-parent16 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-31xl) var(--padding-mini);
  background-color: var(--color-black);
  width: 164px;
  border-radius: var(--br-5xs);
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.bombx,
.frame-parent5,
.navigation,
.rectangle-parent16 {
  display: flex;
  align-items: flex-start;
}
.frame-parent5 {
  width: 1629px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.bombx,
.navigation {
  box-sizing: border-box;
}
.navigation {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  max-width: 100%;
}
.bombx {
  width: 100%;
  position: relative;
  background-color: #fe1818;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl) 0 var(--padding-18xl);
  gap: 78px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1600px) {
  .bombx1,
  .bombx15 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1275px) {
  .bombx1,
  .bombx15 {
    padding-left: var(--padding-44xl);
    padding-right: var(--padding-46xl);
    box-sizing: border-box;
  }
  .bombx-parent {
    gap: 40px;
    padding-bottom: 58px;
    box-sizing: border-box;
  }
  .frame-parent5 {
    flex-wrap: wrap;
  }
  .bombx {
    gap: 39px;
  }
}
@media screen and (max-width: 900px) {
  .image-removebg-1-parent {
    flex-wrap: wrap;
  }
  .bombx10,
  .bombx11,
  .bombx12,
  .bombx13,
  .bombx14,
  .bombx2,
  .bombx3,
  .bombx4,
  .bombx5,
  .bombx6,
  .bombx7,
  .bombx8,
  .bombx9 {
    font-size: var(--font-size-7xl);
  }
  .bombx1 {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .frame-parent {
    gap: 29px;
  }
  .who-are-we {
    font-size: var(--font-size-51xl);
  }
  .bombx-is-a {
    font-size: var(--font-size-7xl);
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .b {
    font-size: var(--font-size-46xl);
  }
  .total-supply {
    font-size: var(--font-size-7xl);
  }
  .frame-parent3 {
    flex: 1;
  }
  .commission-value {
    font-size: var(--font-size-46xl);
  }
  .commission-fee {
    font-size: var(--font-size-7xl);
  }
  .commission-value-parent {
    flex: 1;
  }
  .frame-parent2 {
    flex-wrap: wrap;
  }
  .who-are-we-parent {
    gap: var(--gap-13xl);
  }
  .bombx16,
  .bombx17,
  .bombx18,
  .bombx19,
  .bombx20,
  .bombx21,
  .bombx22,
  .bombx23,
  .bombx24,
  .bombx25,
  .bombx26,
  .bombx27,
  .bombx28 {
    font-size: var(--font-size-7xl);
  }
  .bombx15 {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .how-to-buy {
    font-size: var(--font-size-51xl);
  }
  .div1 {
    font-size: var(--font-size-19xl);
  }
  .download-solana-wallet {
    font-size: var(--font-size-7xl);
  }
  .rectangle-parent3,
  .rectangle-parent4 {
    flex-wrap: wrap;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-26xl);
    box-sizing: border-box;
  }
  .rectangle-parent3 {
    gap: var(--gap-9xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
  }
  .div3 {
    font-size: var(--font-size-19xl);
  }
  .get-some-solana {
    font-size: var(--font-size-7xl);
  }
  .rectangle-parent6,
  .rectangle-parent7 {
    flex-wrap: wrap;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-26xl);
    box-sizing: border-box;
  }
  .rectangle-parent6 {
    gap: var(--gap-9xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
  }
  .div5 {
    font-size: var(--font-size-19xl);
  }
  .buy-bombx-using {
    font-size: var(--font-size-7xl);
  }
  .rectangle-parent9 {
    flex-wrap: wrap;
    gap: var(--gap-9xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .div4 {
    height: auto;
    min-height: 130;
  }
  .how-to-buy-parent {
    gap: var(--gap-13xl);
  }
  .bombx-parent {
    gap: var(--gap-xl);
  }
  .bombx29 {
    font-size: 256px;
  }
  .frame-parent6 {
    flex-wrap: wrap;
  }
  .bombx {
    gap: 19px;
  }
}
@media screen and (max-width: 450px) {
  .frame-group,
  .header {
    flex-wrap: wrap;
  }
  .bombx10,
  .bombx11,
  .bombx12,
  .bombx13,
  .bombx14,
  .bombx2,
  .bombx3,
  .bombx4,
  .bombx5,
  .bombx6,
  .bombx7,
  .bombx8,
  .bombx9 {
    font-size: var(--font-size-lgi);
  }
  .who-are-we {
    font-size: var(--font-size-25xl);
  }
  .bombx-is-a {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent2 {
    flex: 1;
  }
  .b {
    font-size: var(--font-size-21xl);
  }
  .total-supply {
    font-size: var(--font-size-lgi);
  }
  .commission-value {
    font-size: var(--font-size-21xl);
  }
  .commission-fee {
    font-size: var(--font-size-lgi);
  }
  .commission-value-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .who-are-we-parent {
    gap: var(--gap-base);
  }
  .bombx16,
  .bombx17,
  .bombx18,
  .bombx19,
  .bombx20,
  .bombx21,
  .bombx22,
  .bombx23,
  .bombx24,
  .bombx25,
  .bombx26,
  .bombx27,
  .bombx28 {
    font-size: var(--font-size-lgi);
  }
  .how-to-buy {
    font-size: var(--font-size-25xl);
  }
  .div1 {
    font-size: var(--font-size-10xl);
  }
  .download-solana-wallet {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent4 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .div3 {
    font-size: var(--font-size-10xl);
  }
  .get-some-solana {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent7 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .div5 {
    font-size: var(--font-size-10xl);
  }
  .buy-bombx-using {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent10 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .how-to-buy-parent {
    gap: var(--gap-base);
  }
  .bombx-parent {
    padding-bottom: 38px;
    box-sizing: border-box;
  }
  .bombx29 {
    font-size: 160px;
  }
  .rectangle-parent15 {
    flex: 1;
  }
}
